.cart-summary {
  width: 20vw;
  height: max-content;
  margin-top: 10vh;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24),
    0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
  padding: 15px;
  .search-item {
    gap: 20px;
    .item-details {
      .item-description {
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }
}

.offer-container {
  height: max-content;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24),
    0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}

.disabled-radio-btn {
  background-color: #ecf0f1;
}
